*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
2024-04-04 15-08-59.mov
PregatireColocviu1
Laborator07/labtasks/Firebase/app/google-services.json
PregatireColocviu2
